.container {
  background-color: #37669C;
  height: 400px;
  width: 700px;
  margin: 10% 5%;
  padding: 20px;

  .box {
    height: 300px;
    margin: 50px 20px;
    text-align: center;
  }

  .left {
    float: left;
    width: 300px;
    border: 4px solid #83B9E3;
    border-radius: 4px;
    background-color: #457BC0;
  }
}
