!!!
%script{ src: "http://localhost:35729/livereload.js" }
%script{ src: "js/app.js" }
%link{:rel => :stylesheet, :type => :"text/css", :href => "css/sass.css"}
%link{:rel => :stylesheet, :type => :"text/css", :href => "css/normal_css.css"}

.container
  .box.left
    left
  .box.right
    right
